* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    width: 100%;
    height: 70px;
    background-color: #ec715f;
}
.head-box {
    width: 1024px;
    margin: 0 auto;
}
.logo {
    height: 70px;
    background-size: cover;
    background-position: center;
    float: left;
}
.head-navi {
    text-align: right;
 }
.head-navi-item {
    list-style: none;
    display: inline-block;
    font-size: 16px;
    color: #fafafa;
    margin: 0 30px;
    line-height: 70px;
}

.main-visual {
    width: 100%;
    height: 650px;
    background-image: url(img/mv.png);
    background-size: cover;
    background-position: center;
}
.main-text-box {
    text-align: center;
    padding-top: 200px;
}
.main-text {
    font-size: 64px;
    color: #fafafa;
    padding-bottom: 10px;
}
.main-subtext {
    font-size: 20px;
    color: #fafafa;
}

#Portfolio {
    margin: 0 auto;
    padding: 90px 0;
    text-align: center;
    background-color: #eceff1;
}
.port-headline {
    font-size: 32px;
    color: #000000;
}
.port-headline::after {
    content: '';
    display: block;
    width:70px;
    border-bottom: solid 3px #ec715f;
    margin: 8px auto auto;
}
.port-text {
    font-size: 16px;
    color: #000000;
    margin:30px auto;
}
.port-image-box {
    width:920px;
    margin: 0 auto;
}
.port-image {
    width:300px;
    height:250px;
    float:left;
    margin: 0 10px 10px 0;
    background-size: cover;
    background-position: center;
}
.port-image:nth-child(1) {
    background-image: url(img/sketch.jpg);
}
.port-image:nth-child(2) {
    background-image: url(img/websuku.png);
}
.port-image:nth-child(3) {
    background-image: url(img/write.jpg);
}
.port-image:nth-child(4) {
    background-image: url(img/webcamp.png);
}
.port-image:nth-child(5) {
    background-image: url(img/talk.jpg);
}
.port-image:nth-child(6) {
    background-image: url(img/webcamp-mother.png);
}
.port-image:nth-child(3n) {
    margin-right: 0;
}
.port-image:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.Feature {
    width: 980px;
    margin: 90px auto;
    text-align: center;
}
.feature-headline {
    font-size: 32px;
    color: #000000;
}
.feature-headline::after {
    content: '';
    display: block;
    border-bottom: solid 3px #ec715f;
    width: 70px;
    margin: 8px auto 0 auto;
}
.feature-maintext {
    font-size: 16px;
    color: #000000;
    margin: 30px auto;
}
.feature-box {
    width: 980px;
    margin: 0 auto;
}
.feature-item {
    width: 320px;
    height: auto;
    float: left;
    margin: 0 auto;
}
.feature-item:nth-child(2) {
    margin: 0 10px;
}
.feature-item i {
    font-size: 60px;
}
.feature-tittle {
    font-size: 20px;
    color: #000000;
    margin: 10px 0;
}
.feature-text {
    font-size: 16px;
    color: #000000;
    text-align: left;
}

.Profile {
    margin: 0 auto;
    padding: 90px 0;
    text-align: center;
    background-color: #eceff1;
}
.profile-headline {
    font-size: 32px;
    color: #000000;
}
.profile-headline::after {
    content: '';
    display: block;
    border-bottom: solid 3px #ec715f;
    width: 70px;
    margin: 8px auto 0 auto;
}
.profile-maintext {
    font-size: 16px;
    color: #000000;
    margin: 30px auto;
}
.profile-contents {
    width: 1024px;
    margin: 0 auto;
}
.profile-image {
    width: 512px;
    float: left;
}
.profile-image img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 50%;
}
.profile-text-box {
    width: 512px;
    text-align: left;
    float: left;
}
.profile-text-tittle {
    font-size: 20px;
    margin-bottom: 5px;
}
.profile-text {
    font-size: 16px;
    color: #000000;
}
.profile-text-subbox:first-child {
    margin-bottom: 20px;
}

.Contact {
    margin: 0 auto;
    padding: 90px 0;
    text-align: center;
}
.contact-headline {
    font-size: 32px;
    color: #000000;
}
.contact-headline::after {
    content: '';
    display: block;
    border-bottom: solid 3px #ec715f;
    width: 70px;
    margin: 8px auto 0 auto;
}
.contact-text {
    font-size: 16px;
    color: #000000;
    margin: 30px;
}
.contact-contents {
    width: 800px;
    margin: 0 auto;
}
.contact-contents h3 {
    width: 130px;
    font-size: 20px;
    margin: 0 auto 5px auto;
    text-align: left;
}
.contact-contents h3:nth-child(2) {
    margin-top: 20px;
}
.contact-info {
    width: 400px;
    float: left;
}
.contact-info p {
    width: 130px;
    margin: 0 auto;
    text-align: left;
}
p.address {
    margin-bottom: 20px;
}

.contact-sns {
    width: 400px;
    float: left;
}
.contact-sns .sns {
    font-size:20px;
    width: 170px;
    margin-bottom: 5px;
}
.contact-sns i {
    font-size: 50px;
}
.contact-sns :nth-child(3) {
    margin: 0 20px;
}

footer {
    height:60px;
    font-size: 16px;
    color: #fafafa;
    background-color: #ec715f;
    text-align: center;
    line-height: 60px;
}

/* responsive*/
@media screen and (max-width:768px) {

header {
    height: 50px;
 }
.head-box {
    width: 90%;
    height: 50px;
}
.logo {
    height: 50px;
}
.head-navi {
    display:none;
}

.humbergur {
    width: 40px;
    height: 40px;
    border: solid 1px #fafafa;
    float: right;
    margin: 5px 5% 0 5px;
}
.line {
    display: block;
    width: 25px;
    height:2px;
    background-color: #fafafa;
    margin: 5px auto;
}
.line:first-child {
    margin-top:10px;
}

.main-visual {
    height: 650px;
    background-image: url(img/code.png);
}
.main-text {
    font-size: 40px;
}
.main-subtext {
    font-size: 18px;
}

#Portfolio {
    width:100%;
}
.port-text {
    width:90%;
}
.port-image-box {
    width:90%;
}
.port-image:nth-child(odd) {
    display:none;
}
.port-image:nth-child(even) {
    margin: 0 auto;
    float:none;
}
.port-image:nth-child(4) {
    margin: 10px auto;
}

.Feature {
    width: 90%;
}
.feature-box {
    width: 90%;
}
.feature-item {
    width: 90%;
    float: none;
}
.feature-item:nth-child(2) {
    margin: 10px auto;
}

/* .Profile {
    width: 100%;
} */
.profile-maintext {
    width: 90%;
}
.profile-contents {
    width: 90%;
}
.profile-image {
    width: 90%;
    margin: 0 auto 20px auto;
    float: none;
}
.profile-text-box {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    float: none;
}

.Contact {
    width: 90%;
}
.contact-contents {
    width: 90%;
}
.contact-contents h3 {
    text-align: center;
}
.contact-info {
    width: 90%;
    margin: 0 auto;
    float: none;
}
.contact-info  p{
    text-align: center;
}
.contact-sns {
    width: 90%;
    margin: 0 auto;
    float: none;
}
.contact-sns .sns {
    margin-top: 20px;
}

}